@page
@model AppLibreria_CaruajulcaTiglla.Pages.MaterialEscritorios.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MaterialEscritorio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaterialEscritorio.Id" />
            <div class="form-group">
                <label asp-for="MaterialEscritorio.Nombre" class="control-label"></label>
                <input asp-for="MaterialEscritorio.Nombre" class="form-control" />
                <span asp-validation-for="MaterialEscritorio.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialEscritorio.ProveedorId" class="control-label"></label>
                <select asp-for="MaterialEscritorio.ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
                <span asp-validation-for="MaterialEscritorio.ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialEscritorio.Precio" class="control-label"></label>
                <input asp-for="MaterialEscritorio.Precio" class="form-control" />
                <span asp-validation-for="MaterialEscritorio.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialEscritorio.Stock" class="control-label"></label>
                <input asp-for="MaterialEscritorio.Stock" class="form-control" />
                <span asp-validation-for="MaterialEscritorio.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
